@import "tailwindcss";

@font-face {
    font-family: headingFont;
    src: url(../public/font/Thunder-BlackLC.woff);
}

@font-face {
    font-family: praFont;
    src: url(../public/font/PPNeueMontreal-Regular.woff);
}


body {
    background: #131212;
    color: #fff;
    font-family: praFont;
}

.headingFont {
    font-family: headingFont;
}
